body{
    margin-top: 0;
}
.main_box{
    margin: 25px 0 75px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 200px 0 200px;
    column-gap: 50px;
}
p{
    font-weight: normal;
}
h1{
    border-bottom: 2px solid #FFCE2B;
    margin-bottom: 15px;
}
.box{
    column-count: 2;
    column-gap: 10px;
    row-gap: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.box>img{
    box-shadow: 0 0 5px;
}
.text{
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.list_about{
    width: 1100px;
    list-style: none;
    display: block;
    justify-content: left;
}
.list_about>li{
    margin-bottom: 20px;
    color: #898082;
    cursor: default;
}