footer{
    background-color: #f4f4f4;
    margin: 0;
    width: 100%;
    height: auto;
    padding: 30px 40px 30px 40px;
    border-top: 2pt solid #000;
}
.cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cont>span{
    color: black;
}
.contact{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}
.list_footer{
    list-style: none;
}
.list_footer>li{
    height: 40px;
    border-bottom: 2pt solid #f4f4f4;
    transition: 0.5s;
}
.list_footer>li:hover{
    background-color: #f4f4f4;
    border-bottom: 2pt solid #000;
}
