/* Header Design */
/*calc(25px + (35 - 25) * ((100vw - 25px) / (1519 - 320)))*/
header{
    background-color: #fff !important;    
}
.row_gap{
    row-gap: calc(10px + (15 - 10) * ((100vw - 10px) / (1519 - 320)));
}
.wrap_reverse{
    flex-wrap: wrap-reverse;
}
nav{
    width: calc(320px + (100% - 320) * ((100vw - 320px) / (1519 - 320)));
    height: auto;
    padding: 0;
    margin: 0;
}
nav>.extra-info{
    background-color: #42413D;
    padding:calc(10px + (10 - 10) * ((100vw - 10px) / (1519 - 320)))
            calc(0px + (90 - 0) * ((100vw - 0px) / (1519 - 320)))
            calc(10px + (10 - 10) * ((100vw - 10px) / (1519 - 320)))
            calc(0px + (90 - 0) * ((100vw - 0px) / (1519 - 320)));
    display: flex;
    align-items: center;
    row-gap: calc(20px + (25 - 20) * ((100vw - 20px) / (1519 - 320)));
    justify-content: space-between;
}
.contacts{
    max-width: calc(150px + (400 - 150) * ((100vw - 150px) / (1519 - 320)));
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    flex-wrap: wrap;
    column-gap: calc(10px + (20 - 10) * ((100vw - 10px) / (1519 - 320)));
    row-gap: calc(20px + (20 - 20) * ((100vw - 20px) / (1519 - 320)));
}
.contacts>div{
    font-size: calc(12px + (15 - 12) * ((100vw - 12px) / (1519 - 320)));
    transition: 0.2s;
}
.contacts>div:hover{
    color: #FFCE2B;
    cursor: pointer;
}
.networks{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: calc(5px + (10 - 5) * ((100vw - 5px) / (1519 - 320)));
    row-gap: calc(5px + (10 - 5) * ((100vw - 5px) / (1519 - 320)));
    flex-wrap: wrap;
}
.networks>div{
    width: calc(30px + (40 - 30) * ((100vw - 30px) / (1519 - 320)));
    height: calc(30px + (40 - 30) * ((100vw - 30px) / (1519 - 320)));
    column-gap: calc(10px + (20 - 10) * ((100vw - 10px) / (1519 - 320)));
    border: 1px solid #fff;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}
.networks>div>i{
    font-size: calc(16px + (20 - 16) * ((100vw - 16px) / (1519 - 320)));
    color: #fff;
}
.networks>div:hover{
    border: 1px solid #FFCE2B;
    background-color: #FFCE2B;
    cursor: pointer;
}
.networks>div:hover i{
    color: #42413D;
}
.main-menu{
    background-color: #fff;
    padding:calc(10px + (10 - 10) * ((100vw - 10px) / (1519 - 320)))
            calc(0px + (90 - 0) * ((100vw - 0px) / (1519 - 320)))
            calc(0px + (10 - 0) * ((100vw - 0px) / (1519 - 320)))
            calc(0px + (90 - 0) * ((100vw - 0px) / (1519 - 320)));
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: calc(10px + (30 - 10) * ((100vw - 10px) / (1519 - 320)));
    row-gap: calc(15px + (25 - 15) * ((100vw - 15px) / (1519 - 320)));
}
.main-menu>a>img{
    width: calc(220px + (300 - 220) * ((100vw - 220px) / (1519 - 320)));
}
.main-menu>a{
    transition: 0.2s;
}
.main-menu>a:hover img{
    cursor: pointer;
}
.menu{
    width: auto;
    display: flex;
    justify-content: center;
    list-style: none;
    font-size: calc(14px + (16 - 14) * ((100vw - 14px) / (1519 - 320)));
    color: #545454;
    border-right: calc(0px + (2 - 0) * ((100vw - 0px) / (1519 - 320))) solid #545454;
    column-gap: 20px;
    row-gap: calc(5px + (10 - 5) * ((100vw - 5px) / (1519 - 320)));
    line-height: calc(15px + (40 - 15) * ((100vw - 15px) / (1519 - 320)));
    column-count: 2;
    flex-wrap: wrap;
}
.menu>li:nth-of-type(4){
    margin-right: 12px;
}
.menu>li>a{
    transition: 0.3s;
}
.menu>li>a:hover{
    color: #B68F40;
    cursor: pointer;
}
.magnifier{
    margin-left: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: calc(5px + (10 - 5) * ((100vw - 5px) / (1519 - 320)));
    column-gap: calc(5px + (7 - 5) * ((100vw - 5px) / (1519 - 320)));
}
.magnifier>form{
    border: 1px solid #545454;
    align-items: center;
    justify-content: center;
    padding: 0 0 0 7px;
    column-gap: 7px;
}
.magnifier>form>label{
    height: calc(30px + (40 - 30) * ((100vw - 30px) / (1519 - 320)));
    width: calc(30px + (40 - 30) * ((100vw - 30px) / (1519 - 320)));
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}
.magnifier>form>label:hover{
    background-color: #42413D;
    cursor: pointer;
}
.magnifier>form>label>i{
    color: #42413D;
    transition: 0.2s;
}
.magnifier>form>label:hover i{
    color: #FFCE2B;
}
.magnifier>form>div:active{
    transform: scale(0.9);
}
.magnifier>form>.search{
    max-width: 200px;
    width: calc(120px + (200 - 120) * ((100vw - 120px) / (1519 - 320)));
}
.search, .search:hover, .search:focus, .search:visited, .search:placeholder-shown{
    border: 0;
    outline: 0;
}
.btnSearch>i{
    font-size: calc(16px + (20 - 16) * ((100vw - 16px) / (1519 - 320)));
}
.login, .cart{
    width: calc(30px + (40 - 30) * ((100vw - 30px) / (1519 - 320)));
    height: calc(30px + (40 - 30) * ((100vw - 30px) / (1519 - 320)));
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
}
.login>i, .cart>i{
    font-size: calc(25px + (30 - 25) * ((100vw - 25px) / (1519 - 320)));
}
.login:hover, .cart:hover{
    cursor: pointer;
    color: #42413D;
}
.cont_magn{
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 40px;
    height: 45px;
    background-color: #FFCE2B;
    transition: 0.2s;
}
.cont_magn:hover{
    cursor: pointer;
    box-shadow: 1px 1px 1px 0;
}
/* Cart Design */
.cart__field{
    width: 900px;
    overflow: auto;
    height: 500px;
    border:2px solid #000;
    border-radius: 20px;
    background-color: #fff;
    z-index: 25;
}
.cart__row{
    background-color: #f4f4f4;
    margin: 20px 0px;
}
.cart__image {
    width: 128px;
    height: 128px;
    background-color: #fff;
    border-radius: 100%;
    overflow: hidden;
}
.cart__image img{
    width: 100%;
}
.cart__name{
    width: 20%;
}