/* Header Design */
header{
    background-color: #fff !important;    
}
nav{
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}
.contacts{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 13pt;
}
.contacts>div:nth-child(1){
    margin-right: 20px;
}
.contacts>div{
    transition: 0.2s;
}
.contacts>div:hover{
    color: #FFCE2B;
    cursor: pointer;
}
.networks>div:hover{
    border: 1pt solid #FFCE2B;
    background-color: #FFCE2B;
    cursor: pointer;
    transition: 0.2s;
}
.networks>div:hover i{
    color: #42413D;
}
nav> .extra-info{
    background-color: #42413D;
    padding: 10px 150px 10px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main-menu{
    background-color: #fff;
    padding: 10px 150px 15px 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.networks{
    display: flex;
    justify-content: center;
    align-items: center;
}
.networks>div{
    width: 40px;
    height: 40px;
    border: 1pt solid #fff;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.networks>div:nth-child(1){
    margin-right: 10px;
}
.networks>div>i{
    color: #fff;
}
.menu{
    width: auto;
    display: flex;
    list-style: none;
    font-size: 16px;
    color: #545454;
    border-right: 3px solid #545454;
    padding: 10px 0px;
}
.menu>li{
    margin: 0px 12.5px;
    transition: 0.2s;
}
.menu>li:hover{
    color: #B68F40;
}
.menu>li:nth-child(4){
    margin-right: 10px;
}


.magnifier{
    border: 1pt solid #545454;
    margin: 0 7px 0 7px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px 10px 7px 10px;
}
.magnifier>i{
    margin-left: 5px;
}
.magnifier>input{
    font-size: 14pt;
}
.search, .search:hover, .search:focus, .search:visited{
    border: 0;
    outline: 0;
}
.login, .cart{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
}
.login:hover, .cart:hover{
    cursor: pointer;
    color: #42413D;
}
/* Cart Design */
.cart__field{
    width: 900px;
    overflow: auto;
    height: 500px;
    border:2px solid #000;
    border-radius: 20px;
    background-color: #fff;
    z-index: 25;
}
.cart__row{
    background-color: #f4f4f4;
    margin: 20px 0px;
}
.cart__image {
    width: 128px;
    height: 128px;
    background-color: #fff;
    border-radius: 100%;
    overflow: hidden;
}
.cart__image img{
    width: 100%;
}
.cart__name{
    width: 20%;
}