.main__namer{
    font-size: 36px;
    text-align: left;
    margin: 40px 0px;
    padding:20px;
    width: 1320px;
    font-family: 'Kurale';
    src: url(../fonts/Kurale-Regular.ttf);
}
.main__items{
    width: 1320px;
}
.cards{
    width: 400px;
    background-color: #fff;
    margin:20px 20px;
    box-shadow: 0px 0px 3px #000;    
}
.cards__image{
    background-position: center;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    height:250px;
}
.cards__information{
    padding:10px
}
.cards__name{
    text-transform: uppercase;
    font-family: 'Kurale';
    font-size: 20px;
    src: url(../fonts/Kurale-Regular.ttf);
    word-spacing: 7px;
}
.cards__details{
    margin:20px 0px 
}
.cards__button{
    width: 100%;
    border:none;
    font-style: normal;
    padding:10px;
    background-color: orange;
}
.cards__sale{
    position: absolute;
    z-index: 10;
    background: rgb(111,221,37);
    background: radial-gradient(circle, rgba(111,221,37,1) 0%, rgba(0,255,119,1) 100%);
    padding:10px;
    border-radius: 0px 0px 20px 0px;
    box-shadow: 3px 3px 3px #000;
}
.cards__cost{
    font-size: 20px;
    color:firebrick;
    margin: 0px 10px ;
}
.cards__description{
    margin:15px;
}
.cards__stock{
    color:red;
    padding: 10px;
    text-transform: uppercase;
}