.main{
    background-color: #fff;
    max-width: 1720px;
}
.main__items{
    width: calc( 100% - 300px);
}
.main__filter{
    width: 300px;
    height:auto;
    padding:30px 20px;
    border-right: 1px solid gray;
}
.cards{
    position: relative;
    width: 350px;
    border-bottom: 3px solid #000;
    margin:20px 20px;
}
.cards > img{
    width: 32px;
    z-index: 21;
    cursor: pointer;
    top:10px;
    position: absolute;
    transition: .1s ease-in-out;
}
.cards > img:hover{
    transform: scale(1.1);
    transition: .1s ease-in-out;
}
.right-side{
    right: 20px;
} .left-side{
    left: 20px;
}
.cards__image{
    background-position: center;
    background-size: contain;
    position: relative;
    background-repeat: no-repeat;
    height:250px;
}
.cards__information{
    padding:30px 10px;
}
.cards__name{
    text-transform: uppercase;
    font-family: 'Kurale';
    text-align: start;
    margin: 0px 20px;
    src: url(../fonts/Kurale-Regular.ttf);
    font-size: 20px;
    
}
.cards__button{
    width: 100%;
    border:none;
    font-style: normal;
    padding:10px;
    transition: .5s;
}
.cards__button:hover{
    transition: .5s;
}

.set-gray{
    background-color: rgba(0,0,0,.6);
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}
.cards__cost{
    font-size:20px;
    margin: 0px 10px ;
}
.cards__description{
    margin:20px;
    text-align: justify;
}

.cards__cost-info{
    position: absolute;
    bottom:18px;
    width: 100%;
}
.cards__order{
    background-color: rgba(0,0,0,.7);
    width: 100%;
    height:100%;
    position: fixed;
    top:0;
    left: 0;
    display: none;
    z-index: 20;
}
.cards__field{
    width: 500px;
    height: 500px;
    background-color: #fff;
    z-index: 25;
}
.cards__deteails img{
    width: 32px;
}