*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}
a{
    text-decoration: none; 
    color:#000;
}
button,input[type=submit],a,li,svg{
    cursor: pointer;
}
.toCenter {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-end;
    text-align: center;
}
.font-bold{
    font-weight: bold !important;
}
.setShadow{
    text-shadow: 0px 0px 3px #000 !important; 
    color:#fff !important;
}
body{
    background-image: url("../images/Background.jpg");
    background-repeat: no-repeat;
}
.main_box{
    width: 90%;
    margin: 100px auto 0 auto;
    border: 1pt solid #000;
    box-shadow: 10px 10px 30px #fff;
    padding-top: 20px;
    background-color: #fff;
}
