*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    min-width: 320px;
}
a{
    text-decoration: none; 
    color:#000;
}
button,input[type=submit],a,li,svg{
    cursor: pointer;
}
.toCenter {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}
.font-bold{
    font-weight: bold !important;
}
.setShadow{
    text-shadow: 0px 0px 3px #000 !important; 
    color:#fff !important;
}
.height-full{
    height:100% !important;
}
.align-center {
    align-items: center !important;
}
.display-flex{
    display: flex !important;
}
.justify-space_between{
    justify-content: space-between;
}
.position-relative {
    position: relative !important;
}
.margin-auto{
    margin: auto !important;
}
