@media screen and (max-width: 500px) {
    nav>ul{
        display: block !important; 
    }   
    .main-cards{
        display: block !important;
    }
    .main__filter,.main__items{
        width: 100% !important;
    }
}